body {
  position: relative;
  font-family: Khula;
}

#background-image {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('login.jpg');
  background-size: cover;
}

#overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0,0,0,.85);
}

#app-container {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 100vh;
}

#home-logo {
  display: block;
  margin-left: 22vw;
  margin-top: 2.5vh;
  margin-bottom: 15%;
  color: lightgray;
  font-size: 8vw;
}

#home-buttons {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#home-buttons > button {
  font-size: 2vw;
  letter-spacing: .5vmin;
  color: lightgray;
  background-color: rgb(36,36,36);
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
}

#login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  border-style: solid;
  border-radius: 3vmin;
  border-width: 2px;
  border-color: darkgray;
  background-color: rgba(255,255,255,.75);
  padding: 2vmin;
}

#login-logo {
  display: block;
  margin-left: 20vw;
  margin-top: 2.5%;
  margin-bottom: 7.5%;
  color: lightgray;
  font-size: 10vmin;
}

#login-form {
  font-size: 2vmin;
  color: rgb(36,36,36);
}

#login-form > button {
  position: relative;
  font-size: 2vmin;
  margin-bottom: 1vmin;
  color: lightgray;
  background-color: rgb(36,36,36);
  width: 50%;
  left: 25%;
}

#login-links {
  text-align: center;
  font-size: 2vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

#register {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  border-style: solid;
  border-radius: 3vmin;
  border-width: 2px;
  border-color: darkgray;
  background-color: rgba(255,255,255,.75);
  padding: 2vmin;
}

#register-logo {
  display: block;
  margin-left: 20vw;
  margin-top: 2.5%;
  margin-bottom: 5%;
  color: lightgray;
  font-size: 10vmin;
}

#register-form {
  font-size: 2vmin;
  color: rgb(36,36,36);
}

#register-form > button {
  position: relative;
  font-size: 2vmin;
  margin-bottom: 1vmin;
  color: lightgray;
  background-color: rgb(36,36,36);
  width: 50%;
  left: 25%;
}

#register-links {
  text-align: center;
  font-size: 2vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

#username{
  font-size: 2vmin;
  height: 3vmin;
  padding: 1vmin;
}

#password{
  font-size: 2vmin;
  height: 3vmin;
  padding: 1vmin;
}

#confirm-password{
  font-size: 2vmin;
  height: 3vmin;
  padding: 1vmin;
}

#dashboard-container {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36,36,36,1);
}

#sidebar {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 20vw;
  height: 100vh;
  color: rgba(86,165,135,1);
  background-color: black;
  border-style: solid;
  border-color: rgba(86,165,135,1);
  border-width: 2px;
}

.sidebar-border {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(86,165,135,1);
}

.sidebar-item {
  height: 5vh;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(86,165,135,1);
  font-size: 2vmin;
  padding: 1vmin;
  color: rgba(86,165,135,1);
}

.sidebar-logo {
  height: 10vh;
  font-size: 4vmin;
  text-align: center;
  padding: 1vmin;
  color: rgb(86,165,135);
  background-color: black;
}

#dashboard-main {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  width: 80vw;
}

#dashboard-image {
  position: relative;
  display: block;
  height: 30vh;
  background-image: url('images/dashboard.png');
  background-size: cover;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
}

#dashboard-greeting {
  display: block;
  text-align: right;
  padding-top: 2vmin;
  padding-right: 4vmin;
  font-size: 3vmin;
  color: white;
}

#dashboard-modules-container {
  position: relative;
  z-index: 3;
  display: block;
  height: 70vh;
  background-image: url('images/modules-background.png');
  background-size: cover;
}

#dashboard-modules-overlay {
  position: absolute;
  width: 100%;
  z-index: 4;
  display: block;
  height: 70vh;
  background-color: rgba(0,0,0,.9);
}

.module-row {
  position: relative;
  display: block;
}

.module {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 20vmin;
  width: 20vmin;
  border-radius: 100%;
  background-color: rgba(86,165,135,.3);
  margin: 3vmin;
}

.module > .fa {
  display: block;
  position: relative;
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 6vmin;
  padding-top: 4vmin;
  color: white;
}

.module-name {
  display: block;
  position: relative;
  max-width: 90%;
  margin: auto;
  color: white;
  font-size: 2vmin;
  text-align: center;
  padding: 1vmin;
}

#create-container {
  background-color: rgb(36,36,36);
}

#create-main {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 80vw;
  height: 100vh;
  color: white;
  padding-left: 3vmin;
  padding-right: 3vmin;
}

#create-main-header {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(86,165,135,1);
}

#create-main-header > .greeting {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  text-align: left;
  font-size: 3.5vmin;
  color: rgba(86,165,135,1);
}

#create-main-header > .tools {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 50%;
}

#create-main-header > .tools > span {
  vertical-align: middle;
  font-size: 4vmin;
  margin: 2vmin;
  color: rgba(86,165,135,1);
}

#recipe-name {
  font-size: 3vmin;
  padding-top: 3vmin;
  padding-bottom: 3vmin;
  vertical-align: middle;
}

#recipe-name > input {
  width: 70%;
  color: black;
  font-size: 3vmin;
  vertical-align: middle;
  padding: 1vmin;
}

#recipe-image {
  margin-top: 3vmin;
  font-size: 2vmin;
}

#recipe-image > div {
  width: 100%;
  height: 25vh;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background-color: rgba(255,255,255,.5);
}

#recipe-description {
  margin-top: 3vmin;
  font-size: 2vmin;
}

#recipe-description > input {
  font-size: 2vmin;
}

#recipe-categories {
  text-align: center;
  margin-top: 3vmin;
}

#recipe-categories > div {
  display: inline-block;
  vertical-align: middle;
  width: 33%;
  text-align: center;
  font-size: 2.5vmin;
}

#recipe-categories > div > select {
  font-size: 2vmin;
  color: black;
}

#recipe-categories > div > input {
  font-size: 2vmin;
  color: black;
  width: 20%;
  text-align: right;
}

.overview-icon {
  color: white;
  font-size: 8vmin;
  padding-bottom: 2vmin;
}
