body {
  position: relative;
}

#background-image {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-image: url('login.jpg');
  background-size: cover;
}

#overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0,0,0,.85);
}

#app-container {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 100vh;
}

#home-logo {
  display: block;
  margin-left: 22vw;
  margin-top: 2.5vh;
  margin-bottom: 15%;
  color: lightgray;
  font-size: 8vw;
}

#home-buttons {
  display: block;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#home-buttons > button {
  font-size: 2vw;
  letter-spacing: .5vmin;
  color: lightgray;
  background-color: rgb(36,36,36);
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  padding-left: 2vmin;
  padding-right: 2vmin;
}

#login {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  border-style: solid;
  border-radius: 3vmin;
  border-width: 2px;
  border-color: darkgray;
  background-color: rgba(255,255,255,.75);
  padding: 2vmin;
}

#login-logo {
  display: block;
  margin-left: 20vw;
  margin-top: 2.5%;
  margin-bottom: 7.5%;
  color: lightgray;
  font-size: 10vmin;
}

#login-form {
  font-size: 2vmin;
  color: rgb(36,36,36);
}

#login-form > button {
  position: relative;
  font-size: 2vmin;
  margin-bottom: 1vmin;
  color: lightgray;
  background-color: rgb(36,36,36);
  width: 50%;
  left: 25%;
}

#login-links {
  text-align: center;
  font-size: 2vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

#register {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  border-style: solid;
  border-radius: 3vmin;
  border-width: 2px;
  border-color: darkgray;
  background-color: rgba(255,255,255,.75);
  padding: 2vmin;
}

#register-logo {
  display: block;
  margin-left: 20vw;
  margin-top: 2.5%;
  margin-bottom: 5%;
  color: lightgray;
  font-size: 10vmin;
}

#register-form {
  font-size: 2vmin;
  color: rgb(36,36,36);
}

#register-form > button {
  position: relative;
  font-size: 2vmin;
  margin-bottom: 1vmin;
  color: lightgray;
  background-color: rgb(36,36,36);
  width: 50%;
  left: 25%;
}

#register-links {
  text-align: center;
  font-size: 2vmin;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

#username{
  font-size: 2vmin;
  height: 3vmin;
  padding: 1vmin;
}

#password{
  font-size: 2vmin;
  height: 3vmin;
  padding: 1vmin;
}

#confirm-password{
  font-size: 2vmin;
  height: 3vmin;
  padding: 1vmin;
}

#dashboard-container {
  position: relative;
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36,36,36,1);
}

#dashboard-container div {
  min-height: 5vh;
  color: white;
}

.dashboard-border {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

#dashboard-sidebar {
  position: relative;
  display: inline-block;
  width: 20vw;
  height: 100vh;
  vertical-align: top;
}

#dashboard-logo {
  height: 10vh;
  font-size: 5vmin;
  text-align: center;
  padding: 3vmin;
}

.sidebar-item {
  height: 5vh;
}

#dashboard-main {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 100vh;
  width: 80vw;
}

#dashboard-image {
  position: relative;
  display: block;
  height: 30vh;
  background-image: url('images/dashboard.png');
  background-size: cover;
}

#dashboard-greeting {
  display: block;
  text-align: right;
  padding-top: 2vmin;
  padding-right: 4vmin;
  font-size: 3vmin;
  color: white;
}

#dashboard-modules-container {
  position: relative;
  z-index: 3;
  display: block;
  height: 70vh;
  background-image: url('images/modules-background.png');
  background-size: cover;
}

#dashboard-modules-overlay {
  position: absolute;
  width: 100%;
  z-index: 4;
  display: block;
  height: 70vh;
  background-color: rgba(0,0,0,.9);
}

.module-row {
  position: relative;
  display: block;
  height: 30vh;
  padding-top: 5vh;
}

.module-spacer {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 25vh;
  width: 5vw;
}

.module {
  position: relative;
  display: inline-block;
  height: 25vh;
  width: 20vw;
  background-color: rgba(86,165,135,.2);
}
